<div class="contains-index">
<h1><%= current_user.username %>'s Chats (<%= current_user.chat_rooms.count %>)</h1>
<% if current_user.chat_rooms.count == 0 %>
  <h3>You currently have no active chats!</h3>
<% end %>
</div>
  <%= render @chat_rooms %>
