<h1>Users</h1>
<% @users.each do |f| %>
<div>
  <div class="card-body">
    <h5><%= f.username %></h5>
    <h6><%= f.years_sober %></h6>
    <p><%= f.catchphrase %></p>
    <%= link_to "Profile", f, class: "card-link" %>
  </div>
</div>
<% end %>
