<div class='row'>
<% @users.each do |f| %>
  <div class='col-md-4'>
  <div class="profile-card">
    <h3><%= link_to f.username, f, class: "card-link" %></h3>
    <h4>Time Sober: <%= f.years_sober %> years</h4>
    <p>Catchphrase: "<%= f.catchphrase %>"</p>
  </div>
</div>
<% end %>
</div>
