// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
  width: 100% auto;
  height: 330px;
  margin: 10px auto;
  margin-bottom: 40px;
  align-items:  center;
  padding: 20px;
  background: black;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  color: white;
  border-radius: 40px;
  font-family: arial, Helvetica;
  font-weight: 200;
  border: 1px solid #ddd;
}

#textbox {
  color: black;
}
